@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body { 
    background-color: black;
    height: 1000px;
    
}

/*NAV BAR */
    a { 
        text-decoration: none;
        color: white;
    }
    a:hover { 
        color: rgb(113, 230, 240);
    }

    nav {
        display: flex;
        align-items: center;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.568);
        width: 100%;
        position: fixed;
        z-index: 1;
       
    }

    .info-nav{
        display: flex;
        color: white;
        
        
    }

    .info-nav p { 
        margin-right: 10px;
        padding: 10px;
    }

    .logo img { 
        width: 81px;
        height: 63px;
    }
    button {
        padding: 10px;
        border-radius: 5px;

    }

    button:hover { 
        background-color: rgb(113, 230, 240);
        color: black;
        border: none;
        border-radius: 5px;
    }
/*FIM NAV BAR*/

/*Slider*/
.slider { 
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
    
}

/*Slides*/
.slides {
    width: 400%;
    height: 500px;
    display: flex ;
}

.slides input { 
    display: none;
}

.slide { 
    width: 25%;
    position: relative  ;
    transition: 2s;
}

.slide img { 
    width: 100%;
}

/* Localizando os Botões*/
.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
   
}

.manual-btn { 
    border: 2px solid #FFF;
    padding: 5px 20px;
    border-radius:10px;
    cursor: pointer; 
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover { 
    background-color: white;
}

/* Manipulando e ativando os botões*/
#radio1:checked ~ .first { 
    margin-left: 0;
}

#radio2:checked ~ .first { 
    margin-left: -25%;
}

#radio3:checked ~ .first { 
    margin-left: -50%;
}

#radio4:checked ~ .first { 
    margin-left: -75%;
}

/*Posicionando as divs na marcação de botão*/
.navigation-auto div { 
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto{ 
    position: absolute;
    width: 100%;
    margin-top: 470px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

.navigation-auto .autobtn1{ 
    padding: 5px 20px;
}

.navigation-auto .autobtn2{ 
    padding: 5px 20px;
}
.navigation-auto .autobtn3{ 
    padding: 5px 20px;
}
.navigation-auto .autobtn4{ 
    padding: 5px 20px;
}
/* Marcando quando o botão é ativado */
#radio1:checked ~ .navigation-auto .autobtn1 { 
    background-color: white;
}

#radio2:checked ~ .navigation-auto .autobtn2 { 
    background-color: white;
}

#radio3:checked ~ .navigation-auto .autobtn3 { 
    background-color: white;
}

#radio4:checked ~ .navigation-auto .autobtn4 { 
    background-color: white;
}

/*Texto de apresentação*/
.info-principal { 
    height: 500px;
    background-color: white;
    text-align: center;
    padding-top: 70px;
    margin: 0px;
    background-image: url(imagens/fundo1.png);
    
}

.info-principal p {
    font-size: 20px;
}

/*Primeira seção*/

.section1 { 
    background-color: rgb(244, 241, 241);
    height: 670px;
}
.titulo-sec1 { 
    text-transform: uppercase;
    color: #20a6ff;
    font-size: 45px;
    text-align: justify;
    padding-top: 20px;
    margin-left: 50px;
    
}
.titulo-sec1 b { 
    color: #0f3d5c;
}

.info-sec1 { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cards-sec1 { 
    width: 35%;
}
.card1-sec1 { 
    height: 200px;
    padding: 40px;
    text-align: justify;
    background-color: rgb(244, 241, 241);
    font-size: 20px;
}
.card2-sec1 { 
    display: flex;
    height: 200px;
    padding: 40px;
    background-color: #0f3d5c;
    color: white;
    align-items: center;
    font-size: 25px;
}
.card3-sec1 { 
    width: 65%;
    background-color: white;
    height: 450px;
    padding: 20px;
    text-align: justify;
    
}

.minicard-sec1 { 
    font-size: 20px;
    margin-top: 30px ;
    display: flex;
    align-items: center;
   
}

.minicard-sec1 img{ 
   height: 100px;
   width: 100px;
   margin-right: 20px;
   position:relative;
   margin-left: 50;
}
